<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autonavi.mapper.TaskObjMapper">

    <!--    List<TaskObjInfoDO> getAllTasks();-->
    <select id="getAllTasks" resultType="com.autonavi.domain.TaskObjInfoDO">
        select * from task where valid = 1
    </select>

    <!--TaskObjInfoDO getTaskById(Integer id);-->
    <select id="getTaskById" resultType="com.autonavi.domain.TaskObjInfoDO" parameterType="java.lang.Integer">
        select * from task where id = #{id}
    </select>

    <!--List<TaskObjInfoDO> getTasksByIdList(List<Integer> idList);-->
    <select id="getTasksByIdList" resultType="com.autonavi.domain.TaskObjInfoDO" parameterType="java.util.List">
        select
        *
        from task
        where id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--void updateTaskById(Integer id);-->
    <update id="updateTaskById" parameterType="java.lang.Integer">
        update task set valid = 0 where id = #{id}
    </update>

    <!--void updateTasksByIdList(List<Integer> idList);-->
    <update id="updateTasksByIdList" parameterType="java.util.List">
        update
        task
        set valid = 0
        where id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!--void insertTaskById(Integer id);-->
    <insert id="insertTaskById" parameterType="com.autonavi.domain.TaskObjInfoDO">
        insert into task values (#{id},#{city},#{catalog},#{flagType},#{skill},#{cltTime},#{info},#{valid})
    </insert>
</mapper>
